:host {
  --half-card-size: 400px;
}

h1 {
  vertical-align: text-top;
  font-size: 18pt;
}

h2 {
  font-size: 10pt;
  font-weight: lighter;
}

.form-parent {
  display: table;
}

.investment-values-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  position: relative;
  padding: 20px;
  padding-bottom: 100px;
}

.form-section.full-section {
  width: 100%;
  min-width: 100px;
  max-width: calc( var(--half-card-size) * 2 );
  display: block;
}

.form-section.half-section {
  width: 50%;
  min-width: 100px;
  max-width: var(--half-card-size);
  display: table-cell;
}

.half-section .form-field {
  margin: 10px;
  width: calc( 50% - 20px - 20px);
}

.full-section .form-field {
  margin: 10px;
  width: calc( 100% - 20px - 40px);
}

.section-description {
  height: 100%;
}

.section-fields {
  position: absolute;
  bottom: 0;
  width: 100%;
}
