<div class="col">
  <div class="row">
    <div class="col">
      <mat-form-field matTooltip="Nome do investimento">
        <input matInput type="text" placeholder="Descrição" [(ngModel)]="formDetails.description"
          (change)="updatedValue()" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field matTooltip="Tempo a ser utilizado para a base de cálculos desse investimento.">
        <input matInput type="number" placeholder="Duração" [(ngModel)]="formDetails.numberOfYears"
          (change)="updatedValue()" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field matTooltip="Valor colocado inicialmente.">
        <input matInput type="number" id="numberOfYears" placeholder="Aporte Inicial"
          [(ngModel)]="formDetails.initialValue" (change)="updatedValue()" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field matTooltip="Valor a ser depositado mensalmente nesse investimento">
        <input matInput mask="separator.2" thousandSeparator="." type="text" placeholder="Aporte Mensal"
          [(ngModel)]="formDetails.monthlyValue" (change)="updatedValue()" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field matTooltip="Rendimento mensal em porcentagem">
        <input mask="percent" suffix="%" step="0.1" matInput type="text" placeholder="Rendimentos"
          [(ngModel)]="formDetails.interest" (change)="updatedValue()" />
      </mat-form-field>
    </div>
  </div>
</div>