<div class="investment-values-form">
  <div class="form-parent">
    <div class="form-section full-section">
      <div class="section-description">
        <h1>Tempo</h1>
        <h2>Tempo a ser utilizado para a base de cálculos.</h2>
      </div>
      <div class="section-fields">
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            id="numberOfYears"
            placeholder="Anos"
            [(ngModel)]="formDetails.numberOfYears"
            (change) = "updatedValue()"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="investment-values-form">
  <div class="form-parent">
    <div class="form-section half-section">
      <div class="section-description">
        <h1>Investimento Mensal</h1>
        <h2>
          Esses valores serão depositados mensalmente, um em uma conta de
          reserva com rendimento baixo (como 100% CDI), outro será investido com
          rendimento superior.
        </h2>
      </div>
      <div class="section-fields">
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            id="monthlySavings"
            placeholder="Economia"
            [(ngModel)]="formDetails.monthlySavings"
            (change) = "updatedValue()"
          />
        </mat-form-field>

        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            id="monthlyInvested"
            placeholder="Investimento"
            [(ngModel)]="formDetails.monthlyInvestment"
            (change) = "updatedValue()"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="form-section half-section">
      <div class="section-description">
        <h1>Rendimentos</h1>
        <h2>
          Rendimentos esperados ao mes para as economias e os investimentos.
        </h2>
      </div>

      <div class="section-fields">
        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            id="savingsInterest"
            placeholder="Economia"
            [(ngModel)]="formDetails.savingsInterest"
            (change) = "updatedValue()"
          />
        </mat-form-field>

        <mat-form-field class="form-field">
          <input
            matInput
            type="number"
            id="investmentInterest"
            placeholder="Investimento"
            [(ngModel)]="formDetails.investmentInterest"
            (change) = "updatedValue()"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
