<div class="form-section">
    <h1>Investimento Mensal</h1>
    <h2>Esses valores serão depositados mensalmente, um em uma conta de reserva com rendimento baixo (como 100% CDI), outro será investido com rendimento superior.</h2>
    <div>
        <mat-form-field class="form-field">
            <input matInput type="number" id="monthlySavings" placeholder="Economia"/>
        </mat-form-field>

        <mat-form-field class="form-field">
            <input matInput type="number" id="monthlyInvested" placeholder="Investimento"/>
        </mat-form-field>
    </div>
</div>


<mat-form-field>
    <input matInput type="number" id="myNumber" />
</mat-form-field>