<div class="row" style="margin-top: 30px;">
    <h6 class="col">Dados de Uso</h6>
</div>
<mat-divider></mat-divider>
<div class="row">
    <div class="col-4">
        <mat-form-field matTooltip="Distancia Diária">
            <input matInput type="text" placeholder="Km/Dia" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Distancia em viagens esporádicas de mais de 100km">
            <input matInput type="text" placeholder="Kms/Viagem" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Tempo em viagens esporádicas">
            <input matInput type="text" placeholder="Dias/Viagem" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Distancia em viagens esporádicas de mais de 100km">
            <input matInput type="text" placeholder="Viagem/Mes" />
        </mat-form-field>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <h6 class="col">Preços</h6>
</div>
<mat-divider></mat-divider>
<div class="row" style="margin-top: 30px;">
    <div class="col">
        <mat-form-field matTooltip="Preço do combustível">
            <input matInput type="text" placeholder="R$/L Combustivel" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Preço do Uber">
            <input matInput type="text" placeholder="R$/Km Uber" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Preço do Uber">
            <input matInput type="text" placeholder="R$/Dia Aluguel" />
        </mat-form-field>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <h6 class="col">Novo Automóvel</h6>
</div>
<mat-divider></mat-divider>
<div class="row" style="margin-top: 30px;">
    <div class="col">
        <mat-form-field matTooltip="Rendimento">
            <input matInput type="text" placeholder="Km/L" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Preço">
            <input matInput type="text" placeholder="Valor do Automóvel" />
        </mat-form-field>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <h6 class="col">Financiamento</h6>
</div>
<mat-divider></mat-divider>
<div class="row" style="margin-bottom: 30px;">
    <div class="col">
        <mat-form-field matTooltip="Taxa de Juros a ser paga no financiamento">
            <input matInput type="text" placeholder="Juros a.m. para financiar" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Valor mensal a ser pago no financiamento">
            <input matInput type="text" placeholder="Mensalidade do financiamento" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Tempo de duração em anos do financiamento">
            <input matInput type="text" placeholder="Anos de financiamento" />
        </mat-form-field>
    </div>
</div>