<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <button mat-stroked-button (click)="addNewInvestment()" style="margin: 20px;">Adicionar Novo Investimento</button>
      <p>Disponível: {{investmentListService.valueAvailable() | currency:'BRL'}}</p>
    </div>
  </div>
  <div class="row">
    <app-investment-list style="width: 100%;" (investmentListEmitter)="updatedValues($event)"></app-investment-list>
  </div>
  <div class="row">
    <app-projection-graphs style="width: 100%;"></app-projection-graphs>
  </div>
</div>