<div class="col-md">
    <div class="row">
        <div class="col">
            <strong>Total</strong>
            <canvas baseChart width="200" height="200" [datasets]="totalAmountData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
            <table style="width: 100%;" mat-table [dataSource]="investmentProjection.investments">
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>
                <ng-container matColumnDef="original">
                    <th mat-header-cell *matHeaderCellDef> Original </th>
                    <td mat-cell *matCellDef="let element"> {{element.original}} </td>
                </ng-container>
                <ng-container matColumnDef="gainings">
                    <th mat-header-cell *matHeaderCellDef> Ganhos </th>
                    <td mat-cell *matCellDef="let element"> {{element.gainings}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="totalColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: totalColumns;"></tr>
            </table>
        </div>
        <div class="col">
            <strong>Rendimentos Mensais</strong>
            <canvas baseChart width="200" height="200" [datasets]="earningsData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
            <strong class="row">Rendimento Mensal Final</strong>
            <table style="width: 100%;" mat-table [dataSource]="investmentProjection.investments">
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="monthly">
                    <th mat-header-cell *matHeaderCellDef> Renda Mensal Final </th>
                    <td mat-cell *matCellDef="let element"> {{element.finalMonthlyEarning}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="monthlyColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: monthlyColumns;"></tr>
            </table>
        </div>
    </div>
</div>