<div class="row" style="margin-top: 30px;">
    <h6 class="col">Minha Casa Atual</h6>
</div>
<mat-divider></mat-divider>
<div class="row">
    <div class="col">
        <mat-form-field matTooltip="Quanto é pago atualmente de aluguel">
            <input matInput type="text" placeholder="Meu aluguel atual" />
        </mat-form-field>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <h6 class="col">Nova Casa</h6>
</div>
<mat-divider></mat-divider>
<div class="row">
    <div class="col">
        <mat-form-field matTooltip="Valor do bem">
            <input matInput type="text" placeholder="Valor do Imóvel" />
        </mat-form-field>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <h6 class="col">Financiamento</h6>
</div>
<mat-divider></mat-divider>
<div class="row" style="margin-bottom: 30px;">
    
    <div class="col">
        <mat-form-field matTooltip="Taxa de Juros a ser paga no financiamento">
            <input matInput type="text" placeholder="Juros a.m. para financiar" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Valor mensal a ser pago no financiamento">
            <input matInput type="text" placeholder="Mensalidade do financiamento" />
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field matTooltip="Tempo de duração em anos do financiamento">
            <input matInput type="text" placeholder="Anos de financiamento" />
        </mat-form-field>
    </div>
</div>